<!-- PÁGINA DA CRIAÇÃO DOS AVISOS  -->

<!-- incluindo as partições globais ao arquivo do formulario  -->
<%- include('./partials/head', {title: "Vai Etim"}) %> 

  <body>
    <div class="alert alert-primary"> 
      <h1> 
        <span class="material-icons">campaign</span> 
        Form Cadastro</h1>
    </div>
    
<!-- incluindo as partições de scripts globais ao arquivo do formulario  -->
<%- include('./partials/scripts_import') %> 

   
  </body>
</html>
